{
  "rules": {
    "indent": [
      2,
      4
    ],
    "strict": [
      1,
      "global"
    ],
    "no-extra-parens": 0,
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "linebreak-style": 0,
    "eol-last": 0,
    "arrow-parens": 0,
    "comma-dangle": 0,
    "require-jsdoc": 0,
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "Promise": true,
    "describe": true,
    "it": true,
    "expect": true,
    "jest": true
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "16.4"
    }
  }
}
